<br /><br />

<table class="table">
    <tr style="font-weight:bold">
        <td>Engine ID</td>
        <td>Litres</td>
        <td>Revolutions</td>
        <td>Pistons</td>
        <td>Price</td>
    </tr>
    @foreach (var T in ViewBag.EngineList)
    {
        <tr>
            <td>@T.EngineID</td>
            <td>@T.Litres</td>
            <td>@T.Revolutions</td>
            <td>@T.Pistons</td>
            <td>$ @T.Price</td>
            <td>
                <a href="/Home/UpdateEngineById?EngineID=@T.EngineID">Update</a>
            </td>
            <td>
                <a href="/Home/DeleteEngineById?EngineID=@T.EngineID">Delete</a>
            </td>
        </tr>
    }
</table>