<br /><br />

<table class="table">
    <tr style="font-weight:bold">
        <td>Wheel ID</td>
        <td>Rim Size</td>
        <td>Color</td>
        <td>Material</td>
        <td>Price</td>
    </tr>
    @foreach (var T in ViewBag.WheelList)
    {
        <tr>
            <td>@T.WheelID</td>
            <td>@T.RimSize</td>
            <td>@T.Color</td>
            <td>@T.Material</td>
            <td>$ @T.Price</td>
            <td>
                <a href="/Home/UpdateWheelById?WheelID=@T.WheelID">Update</a>
            </td>
            <td>
                <a href="/Home/DeleteWheelById?WheelID=@T.WheelID" onclick="return confirm('Are you sure?')">Delete</a>
            </td>
        </tr>
    }
</table>
